{% extends "layout.html" %}


{% block body %}

            


<body>
		<!-- <div class="col-md-4"> -->
	<div class="container" id="advent_well"> 

<!-- Bodycontent div ensures that content clears fixed image -->
		<div class = "bodycontent" 
			<div class="col-md-12">
	<!-- 	<div class="well"> -->

		<iframe src="/static/img/facepalm.gif" sandbox="" width="500" height="325" scrolling="auto" align="center">
						<p>Your browser does not support iframes.</p>
		</iframe>

			<h2>Dammit!</h2>
            <h3>Sorry, but something isn't working the way you and I want it to.</h3>
            <h3>It looks like this could be the result of:</h3>
            <ul>
                <li><h4>empty fields</h4></li>
                <li><h4>unnecessary spaces</h4></li>
                <li><h4>a mistyped address</h4></li>
                <li><h4>an out-of-date link</h4></li>
                <li><h4>weird stuff</h4></li>
            </ul>
			
		
			<h3><a href="http://goo.gl/xr4q6E">If nothing is working, please fill out the bug report/site feedback here</a></h3>
		</div>
	</div>
	


</body>



{% endblock %}

{% block styles %}{% endblock %}
