{% extends "layout.html" %}

<!DOCTYPE html>


<head>


{% block body %}
	
	
</head>



<body>
<br><br>
<div class="container" align="left" id="advent_well"> 
		<!-- Bodycontent div ensures that content clears fixed image -->
		<div class = "bodycontent">
		<div class="col-md-12 col-push-2">
		<!-- <div class="well"> -->
		
			<h2>About VENT NY</h2>
			<h3>Hey there. So here's the deal. </h3>
			<br>
			<h4>We're all smart.
			<br><br> We're all clever.
			<br><br> We're all eyes-open, sensitive human beings.
			<br><br> We pick up on things that don't feel right. And the worse it feels, the longer it lingers. 

			<br><br>We don't vent to expel the reality of the problem. We vent to release the physical and emotional energy that we keep inside. 

			<br><br>Holding on to that energy changes the way we feel, sit and digest food. And it keeps us from being our best selves. 

			<br><br>We also vent hoping to find empathy, answers or help. Use this space for that. And once you do, see if you can't contribute that same comfort or wisdom to someone else.</h4>

			<h3>Link it forward.</h3>
		</div>
		</div>
		</div>
</div>
	<!-- <div class="col-md-4"> -->
		<!-- 
		<h4>
			Talkin lots o' shit about why I'm doing this
		</h4>
	</div> -->
</body>

{% endblock %}