{% extends "layout.html" %}

<!DOCTYPE html>


<head>


{% block body %}
	
	
</head>



<body>

<div class="container align="center""> 
		<!-- Bodycontent div ensures that content clears fixed image -->
		<div class = "bodycontent">
		<div class="col-md-8 col-push-2">
		<div class="well">
			<h2>About VENT NY</h2>
			<h3>Hey there. So here's the deal. </h3>
			<h4>We're all smart. We're all clever. We're all eyes-open, sensitive human beings. We pick up on things that don't feel right. And the worse it feels, the longer it lingers.</h4> 

			<h4>The reason we vent is to expel not the reality of the problem but the physical and emotional energy that we keep inside because of it. And that's not good for us. It changes the way we feel, sit and digest food. And it keeps us from being our best selves. </h4>

			<h4>We also vent hoping to find commiseration, answers or help. Use this space for that. And once you do, see if you can't contribute that same comfort or wisdom to someone else.</h4>

			<h3>Link it forward.</h3>
		</div>
		</div>
		</div>
</div>
	<!-- <div class="col-md-4"> -->
		<!-- 
		<h4>
			Talkin lots o' shit about why I'm doing this
		</h4>
	</div> -->
</body>

{% endblock %}