{% extends "layout.html" %}

{% block body %}
<font size=+3 ><a href="/addvent">VENT SOMETHING HERE</a></font>
<div class="row">

	<!-- left column -->
	<div class="col-md-6">
		<h3>HERE'S WHAT THEY ARE TALKING ABOUT</h3>
		
		
		
		{% for idea in ideas %}
			<h4>
				<a href="/ideas/{{ idea.id }}">{{ idea.title }}</a>
			</h4>
			
			<p>
			
			<ul>
				
				<li>
					{{ idea.categories|replace("_"," ")}}
				</li>
					
			</ul>
			
			</p>
			
			<hr/>
		{%endfor%}		
		
	</div>



	

		<hr>
</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}