{% extends "layout.html" %}


{% block body %}

<style>
a:link {
	color: black;
}
</style>

<div class="row">

	<!-- left column -->
	<div class=".col-md-3 .col-offset-3" id="advent_well" >
		<h3>VENTS: {{ current_category.get('name') }}</h3>
		
		{% for idea in ideas %}
			<h4><a href="/ideas/{{idea.id}}">{{ idea.title }} ({{ idea.comments|length }})	</a></h4>
			<p>
				<span class="label label-inverse"><a href="/category/{{ idea.categories }}">{{ idea.categories | replace("_", " ") }}</a></span>
			<hr/>
		{% endfor %}
		
	</div>

	<div class="col-md-8 col-offset-4">
		<h3>Categories</h3>
		<ul>
		{% for cat in categories %}
		<li><a href="/category/{{ cat|replace(" ","_") }}">{{ cat }}</a></li>
		{% endfor %}
		</ul>

		<br><br>

		<a href="/" class="btn btn-large btn-info">ADD ANOTHER VENT</a>
	</div>

	

	

</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}