{% extends "layout.html" %}

<!DOCTYPE html>


<head>


{% block body %}
	
	<!-- div class="container"> 
		<div class="col-md-8">
			<h1>Contact page </h1>
		</div>
	</div> -->

</head>

<body>
		<!-- <div class="col-md-4"> -->
	<div class="container"> 

<!-- Bodycontent div ensures that content clears fixed image -->
		<div class = "bodycontent" 
			<div class="col-md-10" id="advent_well" >
	<!-- 	<div class="well"> -->


			<h2>Would you like to say something to me?</h2>
			<br><br>
			
			<h3><a href="mailto:probablylettuce@gmail.com?&subject=Teen%20Steam%20Gotta%20Let%20It%20Out!" target="_top">Drop your notes here</a>
			</h3>
			<br>
			<h3><a href="http://goo.gl/xr4q6E">Or fill out the bug report/site feedback here</a></h3>
			</div>
		</div>
		</div>
	</div>

<br><br><br><br><br>
</body>

{% endblock %}


