{% extends "layout.html" %}

<!DOCTYPE html>


<head>


{% block body %}
	
	
</head>



<body>
<br><br>
<div class="container" align="left" id="advent_well" > 
		<!-- Bodycontent div ensures that content clears fixed image -->
		<div class = "bodycontent">
		<div class="col-md-12">
		<!-- <div class="well"> -->
		
			<h2>How to use VENT NY</h2>
			<h3>There are two ways to use this space.</h3>
			<br>
			<h2>VENT:</h2>
			<h3>Post a frustration, irritation or injustice here. This space is built for words.</h3>
			<br>
			<h2>COMMENT:</h2>
			<h3>Paste a web link in response to something in a VENT's thread. This is your comment.
			<br><br>Use images, gifs and articles to add your knowledge, support or wit to the implicit conversation.</h3>
			<br>
			<h4> The purpose of this feature is to challenge the standard mode of online discourse. How can a prefabricated link speak effectively for you?
			<br><br> **currently YouTube links do not work properly. Stay tuned...**  </h4>
			

			
		</div>
		</div>
		</div>
</div>
	<!-- <div class="col-md-4"> -->
		<!-- 
		<h4>
			Talkin lots o' shit about why I'm doing this
		</h4>
	</div> -->
</body>

{% endblock %}