{% extends "layout.html" %}


{% block body %}

<div class="row">

	<!-- left column -->
	<div class="col-md-12">
		<h1>The VENT: {{ idea.title }}</h1>
		<p>
	
			
			<!-- (<a href="/data/ideas/{{idea.id}}">JSON</a>)   -->

		</p>
		<hr>
		<p>{{ idea.idea }}</p>
		<p>
		  
		    {{ idea.categories|replace("_"," ") }}
			<!-- <ol>
			{% for c in idea.categories %}
			<li>{{ c }}</li> -->
			<!-- <li>{{ c|replace("_"," ") }}</li>
			{% endfor %} -->
			<!-- </ol> -->
		</p>

		<p>added: {{ idea.timestamp.strftime("%a %m/%d %I:%M%p ") }} </p>
		
		<!-- This was in the idea.timestamp
		| id: {{ idea.id }} -->

		<hr>

		<h3>Comments ( {{ idea.comments|length }} )</h3>
		<div class="row">

			<!-- DISPLAY COMMENTS -->
			<div class="col-md-7">
				{% for comment in idea.comments %}
				<div class="comment" >
					
					
					<!-- PUT iFRAME HERE & put the series of Python IF statements here to handle the file type of comment submission-->
					<iframe src="http://{{ comment.comment }}" sandbox="" width="500" height="200" scrolling="auto">
  <p>Your browser does not support iframes.</p>
</iframe>
<!-- eventually want to write a python function to handle this url scheme and validate the entry as a url.-->
<p><a href="http://{{ comment.comment }}">{{ comment.comment }}</a> 
					<p><small>{{ comment.timestamp.strftime("%a %m/%d %I:%M%p ") }}</small></p>
				</div>
				
				{% endfor %}
			</div>

<div class="row">
        <div class="fixed">
            <!-- <div class="col-md-3">
                <h2>this is where the post form will float</h2></div>
            </div> -->

            <div class="col-md-3 col-md-offset-10">
                <!-- <h2>this is where the Comment Form will go, but on the idea_entry page</h2> -->
            <form method="POST" action="/ideas/{{ idea.id }}/comment">
					<!-- <label for="name">First Name</label>
					<input type="text" id="name" name="name"> -->
					<br>


					<!-- <input type="text" name="fname" placeholder="First name"><br>
  
  					
					<label for="comment">Paste url here</label> -->

					<textarea cols="50" rows="2" id="comment" name="comment" placeholder="PASTE URL HERE. Delete the http://."></textarea>
					<br>
					<label>
					<button type="submit" class="btn btn-large btn-success">Comment</button>
					</label>
				</form>

            </div>

			<!-- ADD COMMENT -->
			<!-- <div class="col-md-5" > -->
			<!-- PUT JS URL RULES HERE -->
				<div class="fixed-burger" >
				
				</div>
			</div>			
			</div>
		</div>
		

	</div>


	

</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}