{% extends "layout.html" %}


{% block body %}

	


<!-- DISPLAYING THE VENT, Title and Vent itself -->
<div class="container">
	<div class="row">
		<div class="col-md-12" align="left">
			<h2>{{ idea.title }}</h2>
		
		<hr>
		<h3>{{ idea.idea }} ({{ idea.comments|length }})</h3>
		<p>
			{{ idea.categories|replace("_"," ") }}
			
		</p>
		<p>added: {{ idea.timestamp.strftime("%a %m/%d %I:%M%p ") }} </p>
		<!-- This was in the idea.timestamp
		| id: {{ idea.id }} -->
		<hr>

		</div>			
	</div>
</div>


<!-- DISPLAY COMMENTS -->
		<h3>Comments ( {{ idea.comments|length }} )</h3>
<div class="row">

			
			<div class="col-md-7" align="center">
				{% for comment in idea.comments %}
					<div class="comment" >
					
					<!-- PUT iFRAME HERE & put the series of Python IF statements here to handle the file type of comment submission-->
					<iframe src="{{ comment.comment }}" sandbox="" width="700" height="400" scrolling="auto">
						<p>Your browser does not support iframes.</p>
					</iframe>
				
					<p><a href="{{ comment.comment }}">{{ comment.comment }}</a> 
						<p><small>{{ comment.timestamp.strftime("%a %m/%d %I:%M%p ") }}</small></p>
					</div>

					{% endfor %}
			</div>



<!-- 			TO ADD A COMMENT -->
			<div class="row">
          	<div class="col-md-3 col-md-offset-8" >
          
            		<form method="POST" action="/ideas/{{ idea.id }}/comment" id="comment_submit">
					<!-- <label for="name">First Name</label>
					<input type="text" id="name" name="name"> -->
					<br>
					<!-- <input type="text" name="fname" placeholder="First name"><br>
					<label for="comment">Paste url here</label> -->

					<input cols="50" type="url" id="comment" name="comment" placeholder="PASTE URL HERE"></textarea>
					<br>
						<label>
							<button type="submit" class="btn btn-large btn-success">Comment</button>
						</label>
					</form>

			</div>
	</div>

</div>	

	{% endblock %}


	{% block styles %}{% endblock %}
	{% block scripts %}{% endblock %}





