{% extends "layout.html" %}


{% block body %}

<div class="row">

	<!-- left column -->
	<div class="col-md-12">
		<h2>The VENT: {{ idea.title }}</h2>
		<p>
	
			
			(<a href="/data/ideas/{{idea.id}}">JSON</a>)  

		</p>
		<hr>
		<p>{{ idea.idea }}</p>
		<p>
			<ul>
			{% for c in idea.categories %}
			<li>{{ c|replace("_"," ") }}</li>
			{% endfor %}
			</ul>
		</p>

		<p>added: {{ idea.timestamp }} | id: {{ idea.id }}</p>
		
		<hr>

		<h3>Comments ( {{ idea.comments|length }} )</h3>
		<div class="row">

			<!-- DISPLAY COMMENTS -->
			<div class="col-md-7">
				{% for comment in idea.comments %}
				<div class="comment">
					
					÷
					<!-- PUT iFRAME HERE -->
					<iframe src="http://{{ comment.comment }}" sandbox="" width="600" height="200" scrolling="no">
  <p>Your browser does not support iframes.</p>
</iframe>
					<p><small>{{ comment.timestamp.strftime("%a %m/%d %I:%M%p ") }}</small></p>
				</div>
				
				{% endfor %}
			</div>

			<!-- ADD COMMENT -->
			<div class="col-md-5">
			<!-- PUT JS URL RULES HERE -->

				<form method="POST" action="/ideas/{{ idea.id }}/comment">
					<!-- <label for="name">First Name</label>
					<input type="text" id="name" name="name"> -->
					<br>
					<!-- <input type="text" name="fname" placeholder="First name"><br>
  
  
					<label for="comment">Paste url here</label> -->
					<textarea cols="60" rows="1" id="comment" name="comment" placeholder="PASTE URL HERE. Other comments will not show up."></textarea>
					
					<label>
					<button type="submit" class="btn btn-success">Comment</button>
					</label>
				</form>
			</div>
		</div>
		

	</div>


	

</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}