<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--   <title></title> -->
    <meta name="description" content="A PLACE WHERE NYERS CAN AIR OUT THEIR THOUGHTS">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/ventmain.css">
    <link rel="stylesheet" href="../static/css/bootstrap3.css">
    <link rel="stylesheet" href="../static/css/jumbotron-narrow.css">

    
    {% block styles %} {% endblock %}


</head>

<body>

    <!--Fixed navbar -->

    <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" >
     <!-- <div class="navbar navbar-inverse">  -->


     <!-- <div class="navbar-collapse collapse"> -->
     <ul class="nav navbar-nav pull-right">
        <!-- <li class="active"> -->
        <li class="">
            <a href="/">
                HOME
            </a>
        </li>
        <li class="">
            <a href="/howto" style="color:#ccffff;">
                HOW TO
            </a>
        </li>
        <li class="">
            <a href="/about">
                ABOUT
            </a>
        </li>
        <li>
            <a href="/contact">
                CONTACT
            </a>
        </li>
        <li class="">

         <a href="/addvent" class="btn btn-gray" style="color:white;"> 
            ADD YOUR VENT
        </a> 
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">

            SORT BY CATEGORY

            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/category/NYC">

                    NYC

                </a>
            </li>
            <li>
                <a href="/category/PEOPLE">

                    PEOPLE

                </a>
            </li>
            <li>
                <a href="/category/THE_WAY_THINGS_ARE_NOW">

                    THE WAY THINGS ARE NOW

                </a>
            </li>
            <li>
                <a href="/category/SHIT_IS_FUCKED_UP_AND_BULLSHIT">

                    SHIT IS FUCKED UP AND BULLSHIT

                </a>
            </li>
        </ul>
    </li>
    <!-- action="/search" -->
    <form method="POST" action = "/search" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" name="query" class="form-control" placeholder="Search">
      </div>


  </form>

</div>           


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class= "fixed-header" align="center">
                <img src="static/img/steampipe3.jpg" style="margin-top:-50px:">
            </div>
        </div>
    </div>
</div>

{% block body %}{% endblock %}
<!-- <footer> -->
<br><br><br><br><br>
<div class = "row footer">
 <div class = "col-md-6">
    <div class="footer">
      <br><br><br><br><br>

  </div>


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $("input#comment").keyup(function() {
            var checkScheme = /^(h|ht|htt|https?|https?:|https?:\/|https?:\/\/)/;
            var typing = $(this).val();
                            //console.log("calling comment URL fixer on " + typing);
                            if (typing.search(checkScheme) === -1) {
                                $(this).val("http://" + $(this).val());
                            }
                        });

                        // validate the URL
                        $("form#comment_submit").validate();
                    });
</script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

{% block scripts %}{% endblock %}

</div>
</div>




<!-- Richie.Siegel == godlike
    http://seersuckermag.com -->

</body>
</html>
