<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--   <title></title> -->
    <meta name="description" content="A PLACE WHERE NYERS CAN AIR OUT THEIR THOUGHTS">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
        
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/jumbotron-narrow.css">

       <!--  <link rel="stylesheet" href="../static/css/ventmain.css"> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

    <!-- Get Font from Google http://www.google.com/webfonts -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'> -->
    
    {% block styles %}{% endblock %}

</head>

<body>
<div class="containter-fluid">
	<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1> What up fluid</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<h2>what lies beneath</h2>



</div>	
</div>	
</div>	








</body>
</html>
