{% extends "layout.html" %}

{% block body %}
<div class="row">

	<!-- left column -->
	<div class="col-md-6">
		<h3>Submitted Ideas</h3>
		
		(<a href="/data/ideas">JSON</a>)
		<hr>
		
		{% for idea in ideas %}
			<h4>
				<a href="/ideas/{{ idea.slug }}">{{ idea.title }}</a>
			</h4>
			<p>by {{ idea.creator }}</p>
			<p>
			
			<ul>
				{% for cat in idea.categories %}
				<li>
					<a href="/category/{{ cat}}">
						{{ cat|replace("_"," ")}}
					</a>
				</li>
					
				{% endfor %}
			</ul>

			<a class="label" href="/ideas/{{ idea.slug }}/edit">edit</a>
			</p>
			
			<hr/>
		{% endfor %}
		
	</div>

	<!-- right column -->
	<div class="col-md-6">

		<form method="POST" role="form">
			{{ form.csrf_token }}

			<legend><h3>Share Your Ideas</h3></legend>

			{% if form.errors %}
			    <ul class="errors">
			        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
			            {% for error in field_errors %}
			                <li>{{ form[field_name].label }}: {{ error }}</li>
			            {% endfor %}
			        {% endfor %}
			    </ul>
			{% endif %}

			<div class="form-group">
				{{ form.creator.label() }}
				{{ form.creator(class='form-control', type='text') }}
				
				<!--
				<label for="creator">First Name</label>
				<input type="text" id="creator" name="creator" class="form-control" value=""> 
				-->
			</div>

			<div class="form-group">
				{{ form.title.label() }}
				{{ form.title(class='form-control', type='text') }}
				<!-- 
				<label for="title">Project Title</label>
				<input type="text" id="title" name="title" class="form-control">
				-->
			</div>
			
			<div class="form-group">
				{{ form.idea.label() }}
				{{ form.idea(class='form-control') }}
				<!-- <label for="idea">Idea description</label>
				<textarea name="idea" id="idea" class="form-control"></textarea>
				-->
			</div>

			<label>Category</label>
			<p class="help-block">Select as many as you need.</p>
			{# comment - loop through categories and create checkboxes #}
			{% for c in categories|sort %}
			<div class="checkbox">
				<label>
					<input type="checkbox" \
						name="categories" 
						value="{{ c|replace(" ","_") }}" {% if c|replace(" ","_") in form.categories.data %}checked=checked{% endif %}
					> {{ c|title }}
				</label>
			</div>
			{% endfor %}



			<button type="submit" class="btn btn-primary">Add Idea</button>
		</form>
	</div>

	

</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}