{% extends "layout.html" %}

{% block body %}


				<!-- {% for idea in ideas | sort(attribute="timestamp", reverse=True) %} -->
				<!-- <h4>
					<a href="/search/{{ idea.id }}">{{ idea.title }}</a>
					YO
				</h4>
				<hr>

				<p>

					<ul> -->

						<!-- <li> -->
						<!-- <a href="/category/{{ idea.categories }}">{{ idea.categories|replace("_"," ")}}</a> -->

						<!-- </li> -->

					<!-- </ul>

				</p>

				<hr/> -->
				<!-- {%endfor%}	 -->	

<h1>{{idea.title}}</h1>


{% endblock %}